/* ----------- Page-wide solutions -------- */
@font-face{
    src: url(./font/Graphik-Light.ttf);
    font-family: graphik;
}

/* ----------- Page-wide solutions -------- */
@font-face{
    src: url(./font/retro.ttf);
    font-family: retro;
}


html{
    scroll-behavior: smooth;
}
body{
    text-align: justify;
    /* align-items: center; */
    width: 100%;
    max-width: 1600px;
    background-color: #404040;
    font-family: graphik, Oxygen, Ubuntu, 'Segoe UI', Roboto, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2,h3 {
    display: block;
    padding-top: 100px;
    color:  #A6E22E;
    /* color:white; */
    font-family: Ubuntu, 'Segoe UI', Roboto, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 3em;
}

p{
    font-size: 1em;
    color:lightgray;
    font-style: normal;
}

/* ------ About ------- */


.about-me {
    float:right;
    width:100%;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
.about-me h3{
    padding-bottom: 100px;
}
.about-me p{
    font-size: 1.4em;
    padding-bottom: 1em;
}
.about-me a{
    font-family: Arial;
    text-decoration: none;
    color: lightgray;
    font-style: bold;
}

.about-right{
    width: 60%;
    display: inline-block;
    float: right;
    margin: 0 0 200px;
}
.about-me img{
    display: inline-block;
    width: 30%;
    height: auto;
}

.about-left{
    display: inline-block;
    width: 60%;
    margin: 0 0 200px;
    float: left;
}

.about-left p {
    display: inline-block;
}
.about-right p {
    display: inline-block;
}

/* ----------TOP BAR---------- */


.topbar-container{
    background-color: #303030;    /* don't touch padding as of now, otherwise goes off center */
    z-index: 1000;
      /* don't touch padding as of now, otherwise goes off center */
    position: fixed;
    text-align: center;
    text-align: center;
    align-items: center;

}

.topbar-container a {
    font-size: 1.4em;
    display: block;
    padding: 10px 5% 15px 5%;
    transition: 0.3s all;
    border: 2px solid transparent;
}
.topbar-container a:hover {
    transition: 0.2s all;
    border-bottom: 2px solid #F92672;
}

.topbar-item{
    z-index: 1;
    margin: 0 auto;
    color: #F92672;
    text-align: center;
    padding: 14px 16px 10px 16px;
    text-decoration: none;
}



/* ------------- CONTAINERS ------------*/

.section {
    /* min-height: 100vh; */
    display: block;
}

.project-container{
    padding: 150px 0 10px 0;
    margin-bottom: 30px;
}

/* ----------- CARDS ------------



/* --------- My tech stack -------- */
.stack-container{
    text-align: center;
    width: 90%;
    max-width: 700px;
    min-width: 180px;
    margin: auto;
    margin-top: 150px;
    /* height: auto; */

}

.content{
    display: block;
    overflow: hidden;
    margin: 10px 10px 10px 10px;
    padding-top:100px;
}

.content h3{
    padding-bottom: 100px;
}

.stack{
    display: block;
    margin: 0 0 50px 0;
    height: auto;
    /* display: inline-block; */
}

.stack img {
    display: inline-block;
    height: auto;
    width: 10%;
    transition: 0.3s all;
    min-width: 60px;
    max-width: 100px;
    margin: 10px 10px 0 10px;
}
.stack img:hover {
    transform: scale(1.5)
}

.stack-text{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


@media(min-width:1080px){
    .main{
        position: absolute;
        right: 20%;  
        transform: translate(25%);
        max-width: 1200px;
        /* width:70%; */
        display: block;
        padding: 50px 5% 50px 5%;
        margin-left: 5%;
    }
    .topbar-container{
        padding-bottom: 100%;
        padding-top: 30vh;
        float:right;
        display: block;
        width: 20%;
        max-width: 250px;
    }
    .banner {
        max-height: 1000px;
        height:auto;
        left: -15%;
        max-width: 700px;
    }
    .banner-container{
        max-width:700px;
    }
}

@media(max-width:1079px) {
    .content{
        margin-top: 5%;
    }
    .stack-container{
        width: 100%;
    }
    .stack{
        padding-bottom: 40px;
    }
    .stack img{
        margin: 10px 5px 0 5px;
    }
    .main{
        width:100%;
        padding-top: 50px;
    }
    .topbar-container{
        
        width: 100%;
        position: fixed;
        background-color: #303030;    /* don't touch padding as of now, otherwise goes off center */
        box-shadow: 0px 0px 10px black;
        text-align: center;
        align-items: center;
    }
    .topbar-container a {
        font-size: 1.2em;
        padding: 10px 3% 15px 3%;
        display: inline-block;
        transition: 0.3s all;
        border: 2px solid transparent;
    }
    .topbar-container a:hover {
        transition: 0.2s all;
        border-bottom: 2px solid #F92672;
    }
    .project-container{
        padding-top: 3%;
    }

    .about-right, .about-left{
    float: left;
    width: 90%;
    margin: 100px 5% 100px 5%;
    }

    .banner {
        margin-right:-15%;
        float:right;
        max-height: 1000px;
        height:auto;
      }

}

.main{
    text-align: center;
    font-family: graphik, Oxygen, Ubuntu, 'Segoe UI', Roboto, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact-info h3{
    margin-bottom: -50px;
}

.contact{
    display: inline;
    max-width: 100px;
    width:20%;
    height: auto;
    margin: 20px 15px 0px 15px;
}

.medium-card{
    margin: 20px 0 0 0;
    border-radius: 10px;
}

.blogs p{
    font-size: 30px;
}

/* --BANNER----- */
  .banner-container{
    position: relative;
      display:block;
      text-align: center;
      max-height: 600px;
      min-width:350px;
      max-width: 500px;
      width: 70%;
      border: 1px solid white;
   
    min-width: 350px;
      overflow:hidden;
      left: 50%;
      transform: translate(-50%);
  }

  .banner-text-first {
    font-size: 2em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 5px 10px 5px;
    background-color: #20202055;
    border: 1px solid white;
    color: white;
    top:50%;
  }
  
  .banner-text-second {
    font-size: 1.2em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 5px 10px 5px;
    background-color: #20202055;
    border: 1px solid white;
    color: white;
    top:70%;
  }


