/* ----------- Page-wide solutions -------- */

h3 {
   color:lightgray;
   font-style: normal;
}

p{
    color:gray;
   font-style: normal;
}



/* ----------TOP BAR---------- */


.topbar-container{
    /* background-color: #000000; */
    padding: 12px 0 12px 0;
    text-align: center;
}
.topbar-container a {
    transition: 0.3s all;

    border: 2px solid transparent;
}
.topbar-container a:hover {
    transition: 0.2s all;
    border-bottom: 2px  solid #F92672;
}

.topbar-list{
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #00000000; */
}

.topbar-item{
    z-index: 1;
    margin: 0 auto;
    color: #F92672;
    text-align: center;
    padding: 14px 16px 10px 16px;
    text-decoration: none;
}



/* ------------- CONTAINERS ------------*/


.main {
    font-family: Oxygen, Ubuntu, 'Segoe UI', Roboto, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    min-height: 1000px;
    min-width: 100%;
    background-color: #303030;
}


.project-container{
    padding: 10px 0 10px 0;
    margin-bottom: 30px;
}


/* ----------- CARDS ------------ */

.project-card{
    /* border: #555555 21px ; */
    text-align: justify;
    transition: all 0.6s cubic-bezier(.25,.8,.25,1);
    background-color: white;
    margin: 10px auto 10px auto;
    border-radius: 10px;
    width: 80%;
    min-width: 300px;
    max-width: 600px;
    min-height: 200px;
    height: auto;
    padding: 5px 5px 5px 5px;
    /* height: 150px; */
}

.project-card:hover {
    box-shadow: 3px 14px 28px rgba(255, 153, 0, 0.507), 0 10px 10px rgba(0,0,0,0.22);  
}

.project-card-items {
    display: inline-block;
    height: 100%;
}

.project-card-unfolding-texts{
    align-items: center;
    text-align: justify;
}

.project-card-items h3{
  color: #202020;
}

.project-card-items h4{
    display: none ;
    overflow: hidden;
    float: left;
    color:black;
   
}

.project-card-items p{
    text-align: center;
    display: none ;
    overflow: hidden;
    margin: 2px 2px 2px 2px;
    /* border: 1px solid gray; */
    float: left;
    color:white;
    background-color: #505050;
    border-radius: 3px;
    padding: 10px 20px 10px 20px;
}

.project-card-items img {
    float: left;
    /* width: calc(100% - 3px);
    height: calc(100% - 3px); */
    max-width: 150px;
    max-height: auto;
    padding: 3px 3px 3px 8px
}

.project-card-text{
    width: 70%;
    background-color: blue;
}
